extends ../page-template/template.pug

block page-content
	section.intro
		picture.intro__picture-background
			source(srcset="../webp-img/intro/intro__background.webp" type="image/webp")
			img(src="../min-img/intro/intro__background.jpg" alt="")
		.intro__overlay
		.intro__inner
			.intro__text-wrapper
				p.intro__hello-text  Привет, меня зовут Денис и я
				.intro__sentence-wrapper
					ul.intro__symbol-wrapper.intro__first-word-wrapper
						each letter in ['В','Е','Р','С','Т','А','Л','Ь','Щ','И','К' ]
							li.intro__letter-inner
								span.intro__letter-text=letter
					.intro__letter-inner.intro__divider-letter
						.intro__letter-text /
					ul.intro__symbol-wrapper
						each letter in ['F','R','O','N','T','E','N','D' ]
							li.intro__letter-inner
								span.intro__letter-text=letter
					.intro__letter-inner.intro__divider-letter
						.intro__letter-text /
					ul.intro__symbol-wrapper.intro__second-word-wrapper
						each letter in ["B", "A", "C", "K", "E", "N", "D"]
							li.intro__letter-inner
								span.intro__letter-text=letter
						//each letter in ['R','E','A','C','T']
							li.intro__letter-inner
								span.intro__letter-text=letter
					ul.intro__symbol-wrapper.intro__third-word-wrapper
						each letter in ['Р','А','З','Р','А','Б','О','Т','Ч','И','К']
							li.intro__letter-inner
								span.intro__letter-text=letter
				p.intro__about-text.hide создаю современные сайты.
	section#about.about.section-margin
		.container
			.about__inner
				.about__photo-wrapper
					picture.about__photo-picture
						source(srcset="../webp-img/about/my-photo.webp" type="image/webp")
						img(src="../min-img/about/my-photo.jpg", alt="")
				.about__text-wrapper
					.about__name Мошкин Денис
					.about__position Верстальщик / Frontend / Backend разработчик
					.about__about-me
						ul
							li Я всей душой полюбил веб разрботку, и не жалею времени на постоянное развитие в этой области.
							li Развиваюсь в сторону backend'а (Node.js, PHP).
							li Заинтересован в интересных проектах, которые будут развивать меня как крутого разработчика.
					ul.about__text-items
						li.about__text-item.item
							p.item__title Опыт в веб-разработке:
							p.item__text 2 года + опыт работы на фрилансе.
						li.about__text-item.item
							p.item__title Возраст:
							p.item__text 24 года
						li.about__text-item.item
							p.item__title Почта:
							p.item__text
								a.default-link(href="mailto:moshkin.denis.007@yandex.ru") moshkin.denis.007@yandex.ru
						li.about__text-item.item
							p.item__title Телефон:
							p.item__text
								a.default-link(href="tel:+89635508754") 89635508754
						li.about__text-item.item
							p.item__title Телеграмм:
							p.item__text @denis_moshkin
						li.about__text-item.item
							p.item__title Образование:
							p.item__text(style="display: block")
								|  "ВятГУ" по направлению "Фундаментальная информатика и информационные технологии" 3 курса (неоконченное высшее, отчислился по собственному желанию, так как не хотел тратить впустую время)
						li.about__text-item.item
							p.item__title Оценки в университете:
							p.item__text(style="display: block")
								| Дискретная математика - отлично
								<br>
								| Объектно-ориентированное программирование - хорошо
								<br>
								| Классические алгоритмы и структуры данных - хорошо
								<br>
								| Дифференциальные и разностные уравнения - отлично
								<br>
								| Иностранный язык - отлично
								<br>
								| Математический анализ - отлично
								<br>
								| Теория вероятности и математическая статистика - отлично
								<br>
								| Компьютерные сети - хорошо
								<br>
								| Теория информации и кодирования - хорошо
								<br>
								| Математическая логика - отлично
								<br>
								| Мат. логика - отлично
								<br>
								| Архитектура вычислительных систем - хорошо
								<br>
								a.default-link(href="https://visualyuki.github.io/portfolio/dist/webp-img/about/university-result.webp" target="_blank" style="display: inline") Ссылка на документ
						li.about__text-item.item
							p.item__title Медиа:
							.item__text
								ul.item__link-items
									li.item__link-item
										a.item__link-item(href="https://github.com/VisualYuki" target="_blank")
											img.item__link-item-img(src="../svg/github.svg" alt="")
									li.item__link-item
										a.item__link-item(href="https://vk.com/moshkin_denis" target="_blank")
											img.item__link-item-img(src="../svg/vk.svg" alt="")
	section#skill.skills.section-margin
		.container
			h2.section-title Навыки
			h3.l-subtitle Backend
			ul.skills__items(style="margin-bottom: 40px")
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/node.svg" alt="")
						span.item__title Node.js
					p.item__text Изучил язык программирования - Node.js. Научился использовать: path, file system (fs), es6 modules, commonjs modules.
			h3.l-subtitle Frontend
			ul.skills__items(style="margin-bottom: 40px")
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/vue-js.svg" alt="")
						span.item__title Vue
					p.item__text Изучил прогрессивный JavaScript-фреймворк. Научился работать с классами, событиями, директивами, слотами, миксинами, компонентами, двух-связной привязке к полям ввода.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/vue-js.svg" alt="")
						span.item__title Vuex
					p.item__text Изучил библиотеку vuex для хранения состояния vue приложения. Изучил getters, dispatch, actions, mutations, modules, а также map helpers (mapGetters, mapActions, mapState, mapMutations) и работу с простраством имен для modules.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/vue-js.svg" alt="")
						span.item__title Vue-router
					p.item__text Изучил библиотеку vue-router для роутинга и создания SPA. Изучил router-link, router options, programmatic navigation, navigation guards, named routers.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/vuetify.svg" alt="")
						span.item__title Vuetify
					p.item__text Изучил ui фреймворк для vue приложений. Изучил helper classes, sass variables, components (app, grid, btn, tables, menu, v-text-field, validation, icon, img ...)
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../min-img/skills/bootstrap-vue.png" alt="")
						span.item__title Bootstrap-vue
					p.item__text Изучил vue framework. Научился работать с многочисленными компонентами, иконками.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/vue-js.svg" alt="")
						span.item__title Vue экосистема
					p.item__text vue cli, vue-i18n, vuelidate,
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/js.svg" alt="")
						span.item__title Javascript
					p.item__text Изучил язык программирования - Javascript. Научился использовать: промисы, fetch, замыкание, символы, модули, strict mode, функции, классы, встроенные объекты, работать с DOM моделью сайта и работой с браузерными объектами (location, Event, localstorage)
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/tp.svg" alt="")
						span.item__title TypeScript
					p.item__text Изучил TypeScript - типизированный js. В процессе изучения. Изучил типы, классы, модификаторы,  геттеры/сеттеры, интерфейсы.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/programming.svg" alt="")
						span.item__title Программирование
					p.item__text Изучил паттерны проектирование. Применил skeleton, chain of responsibility. Изучил принципы программирования DRY(don't reapet yourself), KISS(keep it simple, stupid).
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/ajax.svg" alt="")
						span.item__title AJAX
					p.item__text Изучил AJAX - асинхронный JavaScript и XML. Научился работать с сервером: отправлять, получать запросы и обрабатывать их на странице. А также пользоваться библиотекой AXIOS.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/webpack.svg" alt="")
						span.item__title Webpack
					p.item__text
						| Изучил сборщик проектов webpack
						a.default-link(href="https://github.com/VisualYuki/webpack-config" target="_blank")  Ссылка на репозиторий с конфигом.
						<br>
						| Пытаюсь понять как работает webpack под капотом в браузере (особенно импорты и экпорты). В дальшейшем есть планы посмотреть процесс компиляции на node.js webpack'а.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/testing.svg" alt="")
						span.item__title Тестирование (jest)
					p.item__text Изучил способы тестирования кода. 1. Jest фрейморк для написания тестов, применил: jsdom - для тестирования DOM, describe, test, except. 2. Хорошо знаю режим разработчика в браузере. 3. Научился тестировать сайты через подключение к телефону(google chrome + android), если баг происходит только на мобильном устройстве.

				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/comments.svg" alt="")
						span.item__title JSDoc/TSDoc
					p.item__text Изучил JSDoc/TSDoc - продвинутые js комментарии. Научился комментировать функции. Люблю хорошо документированные проекты, поэтому уделяю большое внимание докуменатции к проектам. Научился создавать документацию по комментариям при помощи tsdoc.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/english-language.svg" alt="")
						span.item__title Англ. язык
					p.item__text Свободное чтение документаций к плагинам, фреймворкам, а также любая информация в интернете. Документацию стараюсь читать только в оригинале. В планах свободное понимание английской речи в видео.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/location.svg" alt="")
						span.item__title Yandex map api
					p.item__text Изучил api яндекс карта для создания взаимодействия пользователя с картой.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../min-img/skills/nuxt.png" alt="")
						span.item__title Nuxt.js
					p.item__text Только в ознакомительных целях.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../min-img/skills/nuxt.png" alt="")
						span.item__title Vue-ssr
					p.item__text Только в ознакомительных целях.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/react.svg" alt="")
						span.item__title REACT
					p.item__text Изучил REACT - js библиотеку для создания UI. Научился работать с JSX, events, conditions, forms, hooks, refs. А также постепенно смотрю, что лежит под капотом react, так как там 3000 строк кода и сразу все не понять. Изучение reactDom отложил в долгий ящик, так как там 30 000 строк кода))
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/redux.svg" alt="")
						span.item__title REDUX
					p.item__text Изучил REACT - контейнер состояния JS APP. Научился работать: reducers, createStore, action, combineReducers. Полностью прошелся по js коду redux и есть целостное понимание, что лежит под капотом. (Благо там всего 800 строк js кода, без учета JSDoc там получается всегд 500 строк)
			h3.l-subtitle Остальное
			ul.skills__items
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/bootstrap.svg" alt="")
						span.item__title Bootstrap
					p.item__text Изучил css framework для верстки. Научился работать с компонентами (accordion, breadcrumb, modal, offcanvas, ...), системой сеток, а также подключать только нужные scss и js файлы.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/wordpress.svg" alt="")
						span.item__title Wordpress
					p.item__text Изучил CMS систему управления контентом. Научился работать со стандартными классами и методами, владеть бызовыми знаниями в php, работать с админкой и связывать админку с версткой.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/web.svg" alt="")
						span.item__title Верстка
					p.item__text Изучил верстку страниц сайта по PSD, Figma макету. Научился верстать адаптивно и кроссбраузерно с применением медиа запросов. Использование семантической верстки для улучшения качества кода.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/gulp.svg" alt="")
						span.item__title Gulp
					p.item__text
						| Изучил таскранер Gulp. Научился использовать плагины для минификации кода и изображений, сборки файлов, постпроцессоры, сервер проекта, а также линтеры для JS, CSS, PUG.
						a.default-link(href="https://github.com/VisualYuki/Gulp-config" target="_blank")  Ссылка на репозиторий с конфигом.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/optimization.svg" alt="")
						span.item__title Опт-ция сайта
					p.item__text Изучил методы оптимизации сайта. Научился использовать програссивные форматы изображений (webp), ленивую загрузку фото, минимальную вложенность DOM, минификация кода, а также научился работать с панелью разработчика для отслеживания процесса работы сайта. Умею довести баллы сайта по goggle page speed до зеленой зоны.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/git.svg" alt="")
						span.item__title Git / Github
					p.item__text Изучил систему контроля версий. Научился пользоваться git bush для локальной работы с проектом и github для хранния проекта на удаленном сервере, а также коммитить, пушить, мержить, работать с ветками, стэшить и изучил pull request и fetch. Использую gitlab и github
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/jquery.svg" alt="")
						span.item__title JQuery
					p.item__text Изучил библиотеку для js - JQuery. Научился использовать селекторы, события, методы работы с DOM, эффекты и анимацию.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/html-5.svg" alt="")
						span.item__title HTML5
					p.item__text Изучил язык гипертекстовой разметки текста - HTML. Научился делать качественную разметку веб-страницы, используя всевозможные тэги и атрибуты.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/css.svg" alt="")
						span.item__title CSS3
					p.item__text Изучил таблицу каскадных стилей CSS. Научился использовать grid и flex в зависимости от поставленной задачи, а также всевозможные стили.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/sass.svg" alt="")
						span.item__title scss/sass/less
					p.item__text Изучил CSS препроцессоры. Научился использовать переменные, миксины, вложенность, циклы, импорты для ускорения верстки сайта.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/pug.svg" alt="")
						span.item__title Pug
					p.item__text Изучил шаблонизатор для html. Научился использовать циклами, переменными, блоками, импортами, инклюдами, миксинами.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/yandex.svg" alt="")
						span.item__title БЭМ
					p.item__text Изучил методологию верстки - BAM-naming. Научился стандартному наименованию классов и разделению ответственности между блоками, а также конецпции блок, элемент, модификатор.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/email.svg" alt="")
						span.item__title MJML
					p.item__text Изучил фреймворк для верстки писем. Научился использовать тэгами и стилями.
					//Понимаю как верстать письма без фреймворков.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/twig.svg" alt="")
						span.item__title Twig
					p.item__text
						|Изучил препроцессор twig. Научился использовать циклы, условия, layout, extends, include, loop.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/php.svg" alt="")
						span.item__title PHP
					p.item__text Изучил язык программирования PHP. Научился использовать for, foreach, var, if, echo.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/sql-server.svg" alt="")
						span.item__title SQL
					p.item__text Изучил язык структурированых запросов SQL. Знаю на уровне запросов: insert, select, join, update, delete, а также нормальные формы Бойса-Кодда.
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/skills.svg" alt="")
						span.item__title Остальное
					p.item__text  Open Server, VS CODE, Virtual Box, FTP, SSH, Yandex map api, С#
				li.skills__item.item
					.item__title-wrap
						img.item__icon(src="../svg/linux.svg" alt="")
						span.item__title Linux
					p.item__text Изучил операционную систему Linux . Научился пользоваться терминалом, настраивать LAMP сервер.
				//li.skills__item.item
					.item-title
						img.item__icon(src="../svg/schema.svg" alt="")
						span.item__title schema.org
					p.item__text Изучил . Научился использовать
	section#portfolio.portfolio.section-bottom-margin
		.container
			h2.section-title Портфолио
			p(style="text-align: center; margin-bottom: 20px;") *указаны, только самые масштабные и крутые проекты, а также pet projects (сверстано около дюжины сайтов)
			ul.portfolio__site-items
				li.portfolio__site-item.item#vue-social-network
					.item__title-wrap
						a.item__title(href="https://visualyuki.github.io/vue-social-network/dist/index.html" target="_blank") Социальная сеть на vue.js (в процессе разработки)
					.item__desc
						ul
							li Технологии: vuetify, vue-router, vue-cli, typescript, vuex, sass, vue-i18n.
							li Поддержка авторизации польователя через localstorage. А также поддержка роутинга при условии авторизации пользователя. При повторном открытии вкладки приложение, авторизованный пользователь сразу получит страницу профиля, иначе страница авторизации.
							li Валидация всех форм через vueitfy.
							li Поддержка локализации (не везде)
							li В планах использовать node.js для хранения данных, вместо localstorage и vuex.
							li Код проекта можно посмотреть тут:
								<a class="default-link" href="https://github.com/VisualYuki/vue-social-network" target="_blank"> ссылка на гит </a>
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/vue-social-network/dist/index.html" target="_blank") Регистрация
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vue-social-network/registration.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/vue-social-network/registration.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/vue-social-network/dist/index.html" target="_blank") Авторизация
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vue-social-network/auth.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/vue-social-network/auth.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/vue-social-network/dist/index.html" target="_blank") Профиль
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vue-social-network/profile.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/vue-social-network/profile.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/vue-social-network/dist/index.html" target="_blank") Профиль (мобильная версия)
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vue-social-network/mobile-profile.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/vue-social-network/mobile-profile.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/vue-social-network/dist/index.html" target="_blank") Сообщения
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vue-social-network/messenger.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/vue-social-network/messenger.png", alt="" class="lazyload")
				li.portfolio__site-item.item#minesweeper
					.item__title-wrap
						a.item__title(href="https://visualyuki.github.io/vue-minesweeper/dist/index.html" target="_blank") Сапер на Vue.js
					.item__desc
						ul
							li Игра сапер при использовании данных технологий: vue.js, vue cli, vuex, typescript.
							li Код проекта можно посмотреть тут:
								<a class="default-link" href="https://github.com/VisualYuki/vue-minesweeper" target="_blank"> ссылка на гит </a>
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/vue-minesweeper/dist/index.html" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/minesweeper/index.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/minesweeper/index.png", alt="" class="lazyload")
				li.portfolio__site-item.item#custom-jquery
					.item__title-wrap
						a.item__title(href="https://visualyuki.github.io/custom-jquery/dist/index" target="_blank") Собственный jQuery
					.item__desc
						ul
							li Реализация частоиспользуемых методов в библиотеке jQuery нативным js (typescript)
							li Реализованные методы: <br>
								code
									| addClass, removeClass, toggleClass, hasClass, each, on, attr, data, removeData, removeAttr, hide, show, css, val, append, closest, sliblings
							li Есть сгенерированная документация при помощи tsdoc <br>
								| Посмотреть можно тут:
								<a class="default-link" href="https://visualyuki.github.io/custom-jquery/docs/classes/jq.html" target="_blank"> ссылка на сайт </a>
							li Код проекта можно посмотреть тут:
								<a class="default-link" href="https://github.com/VisualYuki/custom-jquery" target="_blank"> ссылка на гит </a>
							li Протестировать можно в консоли. Например ввести в консоли: $(".text").removeClass("text")
							li
								| Код методов можно посмотреть тут:
								<a class="default-link" href="https://github.com/VisualYuki/custom-jquery/blob/master/src/js/jquery.ts" target="_blank"> ссылка на гит </a>
							li
								| Реализовано тестирование методов при помощи ts-jest и jsdom <br>
								| Код тестов можно посмотреть тут:
								<a class="default-link" href="https://github.com/VisualYuki/custom-jquery/blob/master/src/js/jquery.test.ts" target="_blank"> ссылка на гит </a>
							li Реализован паттерн chain of responsibility, поэтому можно писать:
								code $(".text").removeClass(".text").find(".child")
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/custom-jquery/dist/index" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/custom-jquery/index.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/custom-jquery/index.png", alt="" class="lazyload")
				li.portfolio__site-item.item#instrument
					.item__title-wrap
						a.item__title(href="https://newlk.vdkanal.ru/" target="_blank") Инструмент
						img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/logo.png" alt="" style="width: 130px;")
					.item__desc
						ul
							li Задача была переписать весь frontend старого сайта, с новым дизайном.
							li Главной задачей заказчика стояла быстрая загрузка сайта, поэтому все страницы находятся в зеленой зоне goggle pagespeed. Использовалась всевозжная оптимизация начиная со шрифтов и заказчивая скриптами.
							li А также хорошая масштабируемость и легкая поддержка проекта, поэтому активно использовался бэм и максимальное количество шаблонов, чтобы не нужно было править несколько видов шаблонов.
							li Большое количество ajax запросов.
							li Yandex map api на странице корзины. По выбору точки доставки (из выпадающего списка) - строиться маршрут, вычисляется цена доставки.
							li Было потрачено на весь frontend около 350 часов (работы было очень много)
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/index.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/index.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/checkout" target="_blank") Корзина
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/cart.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/cart.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/ruchnoi-instrument/krepezhnyi-instrument/zaklepochniki-steplery-dyrokoly" target="_blank") Категории
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/category.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/category.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/compare/list" target="_blank") Сравнение
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/compare.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/compare.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/transportnye-sredstva/kvadrotsikly/tm-irbis/kvadrocikl-irbis-atv-125" target="_blank") Карточка товара
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/product.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/product.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/services/moskva/abac" target="_blank") Пункты выдачи
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/storage.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/storage.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://instrument.ms/reviews" target="_blank") Отзывы о магазине
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/shop-reviews.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/shop-reviews.png", alt="" class="lazyload")
						//li.item__subitem
							a.item__subitem-title.default-link(href="123" target="_blank") 123
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/123.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/123.png", alt="" class="lazyload")
						//li.item__subitem
							a.item__subitem-title.default-link(href="123" target="_blank") 123
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/123.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/123.png", alt="" class="lazyload")
						//li.item__subitem
							a.item__subitem-title.default-link(href="123" target="_blank") 123
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/123.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/123.png", alt="" class="lazyload")
						//li.item__subitem
							a.item__subitem-title.default-link(href="123" target="_blank") 123
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/123.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/123.png", alt="" class="lazyload")
						//li.item__subitem
							a.item__subitem-title.default-link(href="123" target="_blank") 123
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/123.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/123.png", alt="" class="lazyload")
						//li.item__subitem
							a.item__subitem-title.default-link(href="123" target="_blank") 123
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/instrument/123.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/instrument/123.png", alt="" class="lazyload")
				//-li.portfolio__site-item.item
				//-	.item__title-wrap
				//-		a.item__title(href="https://visualyuki.github.io/react-social-network/dist/index" target="_blank") Клон VK.com на react.js (pet project) Находится в стадии работы.
				//-		//img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../svg/studio-comforta-logo.svg" alt="" style="width: 80px")
				//-	.item__desc
				//-		ul
				//-			li Использовалось: webpack, react, redux, react-router, react-redux.
				//-			li Общий state приложения. При переходе по ссылкам, предыдущие действия остаются. (Пр. введеное сообщение в поле, удаленный диалог)
				//-			li Ссылки сбиты из-за github pages, поэтому не все переходы по ним будут корректны.
				//-			li
				//-				a.default-link(href="https://github.com/VisualYuki/react-social-network" style="display: inline" target="_blank") Ссылка на исходники
				//-	ul.item__subitems
				//-		li.item__subitem
				//-			a.item__subitem-title.default-link(href="https://visualyuki.github.io/react-social-network/dist/index.html" target="_blank") Главная страница
				//-			picture.item__subitem-picture
				//-				source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/react-vk/profile.webp" type="image/webp" class="lazyload")
				//-				img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/react-vk/profile.png", alt="" class="lazyload")
				//-		li.item__subitem
				//-			.item__subitem-title.default-link() Авторизация
				//-			picture.item__subitem-picture
				//-				source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/react-vk/auth.webp" type="image/webp" class="lazyload")
				//-				img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/react-vk/auth.png", alt="" class="lazyload")
				//-		li.item__subitem
				//-			.item__subitem-title.default-link() Диалоги
				//-			picture.item__subitem-picture
				//-				source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/react-vk/dialogs.webp" type="image/webp" class="lazyload")
				//-				img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/react-vk/dialogs.png", alt="" class="lazyload")
				li.portfolio__site-item.item
					.item__title-wrap
						a.item__title(href="https://visualyuki.github.io/snake/dist/index" target="_blank") Игра "Змейка" (pet project)
						//img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../svg/studio-comforta-logo.svg" alt="" style="width: 80px")
					.item__desc
						ul
							li Использовалось: webpack, MVC паттерн, классы.
							li Написан на дивах, а не на canvas))

							li
								a.default-link(href="https://github.com/VisualYuki/snake/tree/master" style="display: inline" target="_blank") Ссылка на исходники
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://visualyuki.github.io/snake/dist/index" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/snake/snake.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/snake/snake.png", alt="" class="lazyload")
				li.portfolio__site-item.item
					.item__title-wrap
						a.item__title(href="https://newlk.vdkanal.ru/" target="_blank") Личный кабинет водоканала
						img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../min-img/portfolio/vdkanal/logo.png" alt="" style="width: 130px;")

					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://newlk.vdkanal.ru/login" target="_blank") Регистрация
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vdkanal/reg.webp" type="image/webp" class="lazyload")
								img( srcset="../gifs/preloader.gif" data-src="../min-img/portfolio/vdkanal/reg.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://newlk.vdkanal.ru/" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vdkanal/index.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/vdkanal/index.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://newlk.vdkanal.ru/indications" target="_blank") Показания
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vdkanal/indications.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/vdkanal/indications.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://newlk.vdkanal.ru/statistics" target="_blank") Статистика
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vdkanal/statistics.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/vdkanal/statistics.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://newlk.vdkanal.ru/profile" target="_blank") Профиль
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/vdkanal/profile.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/vdkanal/profile.png", alt="" class="lazyload")
				li.portfolio__site-item.item
					.item__title-wrap
						a.item__title(href="https://ym.palax.dev" target="_blank") Япономания
						img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../min-img/portfolio/ym/logo.png" alt="" style="height: 40px;")
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://yaponomaniya.com/" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/ym/index.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/ym/index.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://yaponomaniya.com/assorty" target="_blank") Каталог
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/ym/catalog.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/ym/catalog.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://yaponomaniya.com/assorty/sakura-new-" target="_blank") Страница товара
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/ym/product.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/ym/product.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://yaponomaniya.com/reviews/" target="_blank") Отзывы
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/ym/reviews.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/ym/reviews.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://yaponomaniya.com/cart/" target="_blank") Корзина
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/ym/cart.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/ym/cart.png", alt="" class="lazyload")
				li.portfolio__site-item.item#shizhma
					.item__title-wrap
						a.item__title(href="http://shizhma-new.shizhma.com/" target="_blank") Шижма (WordPress)
						img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/logo.png" alt="" style="background: black; padding: 3px; width: 40px")
					.item__desc
						ul
							li Сайт полностью сделан мной (верстка, натяжка, заполнение контентом)
							li Весь контент добавляеться через админку WP
							li Есть обратная форма связи ( на почту)
							li Страницы событие (летнне, зимнее, осеннее) сделаны в виде шаблона
							li Live страница поддерживает трансляцию с youtube при указании id канала.
							li По итогу заказчик сайт забросил, а на боевом лежит версия, которую мне сказали переделать ...
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/index.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/index.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/results/" target="_blank") Результаты
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/results.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/results.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/contacts/" target="_blank") Контакты
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/contacts.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/contacts.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/players/" target="_blank") Участникам
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/living.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/living.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/live/" target="_blank") Live соревнования
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/live.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/live.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/лыжный-марафон/" target="_blank") Зимнее событие
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/snow-event.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/snow-event.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="http://shizhma-new.shizhma.com/кросс-кантри-веломарафон/" target="_blank") Летнее событие
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/shizhma/summer-event.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/shizhma/summer-event.png", alt="" class="lazyload")
				//li.portfolio__site-item.item
					.item__title-wrap
						a.item__title(href="https://агросоюз43.рф" target="_blank") Агросоюз
						img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../svg/agrosouz-logo.svg" alt="" style="background: black; padding: 3px; width: 80px")
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://агросоюз43.рф/" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/agro-souz/intro.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/agro-souz/intro.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://агросоюз43.рф/search" target="_blank") Поиск продукта
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/agro-souz/catalog.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/agro-souz/catalog.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://агросоюз43.рф/catalog/selskokhozjajjstvennye-traktory/selskokhozjajjstvennye-traktory/traktor-ant-4135f" target="_blank") Карточка товара
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/agro-souz/card-project.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/agro-souz/card-project.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://агросоюз43.рф/contacts" target="_blank") Карта
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/agro-souz/map.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/agro-souz/map.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://агросоюз43.рф/about" target="_blank") О компании
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/agro-souz/about.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/agro-souz/about.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://агросоюз43.рф/catalog" target="_blank") Каталог товаров
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/agro-souz/predcatalog.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/agro-souz/predcatalog.png", alt="" class="lazyload")
				//li.portfolio__site-item.item
					.item__title-wrap
						a.item__title(href="https://studio-comforta.ru" target="_blank") Студия комфорта
						img.item__logo.lazyload(src="../gifs/preloader.gif" data-src="../svg/studio-comforta-logo.svg" alt="" style="width: 80px")
					ul.item__subitems
						li.item__subitem
							a.item__subitem-title.default-link(href="https://studio-comforta.ru" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/studio-comforta/intro.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/studio-comforta/intro.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://studio-comforta.ru" target="_blank") Главная страница
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/studio-comforta/middle.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/studio-comforta/middle.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://studio-comforta.ru" target="_blank") Форма выбора потолка
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/studio-comforta/form.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/studio-comforta/form.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://studio-comforta.ru/feedbacks" target="_blank") Отзывы
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/studio-comforta/reviews.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/studio-comforta/reviews.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://studio-comforta.ru/contacts" target="_blank") Карта местоположения
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/studio-comforta/map.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/studio-comforta/map.png", alt="" class="lazyload")
						li.item__subitem
							a.item__subitem-title.default-link(href="https://studio-comforta.ru/projects" target="_blank") Проекты
							picture.item__subitem-picture
								source(srcset="../gifs/preloader.gif" data-srcset="../webp-img/portfolio/studio-comforta/projects.webp" type="image/webp" class="lazyload")
								img(src="../gifs/preloader.gif" data-src="../min-img/portfolio/studio-comforta/projects.png", alt="" class="lazyload")
	section#experience.experience.section-margin
		.container
			h2.section-title Опыт работы
			ul.experience__items
				li.experience__item.item
					//a.item__picture-link(href="https://palax.info" target="_blank")
						img.item__picture.lazyload( data-src="../svg/palax-logo.svg", alt="" style="background: black; padding: 10px;")
					.item__desc
						.item__title
							span.item__position vue frontend разработчик
							a.item__company(href="https://www.greymatter.ru/" target="_blank") / Grey Matter
							p.item__time Время работы: 10.21 - по текущее вермя
						.item__subtitle Рабочие обязанности:
							ul.item__subitems
								li.item__subitem Поддержка и модернизация front-end'a. Сайты: https://app.edeone.com, https://app.kursor.org/
								li.item__subitem Поддержка проектов по верстке.
						.item__subtitle Чему научился:
							ul.item__subitems
								li.item__subitem Получил нужный опыт во vue front-end
						.item__subtitle Что понравилось:
							ul.item__subitems
								li.item__subitem Все.
						.item__subtitle Причина ухода:
							ul.item__subitems
								li.item__subitem Ушел по собственному желанию.
								li.item__subitem Хочеться, чтобы проекты были хороши написаны с точки зрения архитектуры.
								li.item__subitem Хочеться работать в большой команде front-end'ов
								li.item__subitem
				li.experience__item.item
					//a.item__picture-link(href="https://palax.info" target="_blank")
						img.item__picture.lazyload( data-src="../svg/palax-logo.svg", alt="" style="background: black; padding: 10px;")
					.item__desc
						.item__title
							span.item__position Верстальщик, front-end разработчик
							a.item__company(href="https://palax.info/" target="_blank") / PALAX
							p.item__time Время работы: 01.21 - 06.21 (6 месяцев)
						.item__subtitle Рабочие обязанности:
							ul.item__subitems
								li.item__subitem Верстка лэндингов и многостраничных сайтов.
								li.item__subitem Поддержка существующих проектов.
								li.item__subitem Создание дополнительных страниц для сущ. сайтов.
						.item__subtitle Чему научился:
							ul.item__subitems
								li.item__subitem Самостоятельное решение проблем, так как из front-end разрботчиков я был один.
						.item__subtitle Что понравилось:
							ul.item__subitems
								li.item__subitem Наличие общего сервера компании и собственного удаленного рабочего пространства.
								li.item__subitem Были интересные и масштабные проекты.
						.item__subtitle Причина ухода:
							ul.item__subitems
								li.item__subitem Ушел по собственному желанию.
								li.item__subitem Желание развиваться дальше, но проекты оставались простыми для меня.
								li.item__subitem Отсутствие других front-end разработчиков, что мешало развиваться и приходилось идти на ощубь (отсутствие code-review).
								li.item__subitem Отсутствие документаций к проектам, проекты без git'а по ftp, при условии создания сайта в 2021.
								li.item__subitem Неудобная работа в palax.cms, что приводило к тому, что любую задачу нужно было допытывать у менеджера и низкий уровень составления задач ПМ-ми.
				li.experience__item.item
					//a.item__picture-link(href="https://rootmedia.ru" target="_blank")
						picture.item__picture
							source.lazyload(data-srcset="../webp-img/experience/rootmedia-logo.webp" type="image/webp")
							img.lazyload(data-src="../min-img/experience/rootmedia-logo.png" alt="")
					.item__desc
						.item__title
							span.item__position Верстальщик, front-end разработчик
							a.item__company(href="https://rootmedia.ru" target="_blank") / Rootmedia
							p.item__time Время работы: 02.20 - 10.20 (8 месяцев)
						.item__subtitle Рабочие обязанности:
							ul.item__subitems
								li.item__subitem Верстка лэндингов и многостраничных сайтов.
								li.item__subitem Поддержка существующих проектов.
								li.item__subitem Создание дополнительных страниц для сущ. сайтов.
								li.item__subitem Работа с 1C-Bitrix.
						.item__subtitle Чему научился:
							ul.item__subitems
								li.item__subitem Качественно и быстро выполнять свою работу.
								li.item__subitem Соблюдать правила работы в офисе.
								li.item__subitem Обязательная обратная связь с колегами и начальником.
						.item__subtitle Что понравилось:
							ul.item__subitems
								li.item__subitem Получил реальный опыт создания сайтов и не один десяток бессоных ночей))
						.item__subtitle Причина ухода:
							ul.item__subitems
								li.item__subitem Уволился по взаимному согласию.
								li.item__subitem Не устраивали используемые технологии: Linux (когда он совершенно избыточен для меня), bitrix (сама концепция CMS устаревшая и совершенно не логичная), слабый компьютер
								li.item__subitem Сам процесс создания сайта не всегда был правильным, что по итогу приводило к неприятных ситуациям.
